**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.tox/
**/.nox/
.venv/
.task/
htmlcov/
.coverage
node_modules/

.env
.env.*
**/*.key
**/*.pem
**/*.crt
*.baseline

.git/
.github/
.vscode/
.devcontainer/

logs/
*.log
tmp/
temp/

tests/
docs/
scripts/
*.md

compose*.yml
Taskfile.yml
.pre-commit-config.yaml
.editorconfig
.hadolint.yaml
.markdownlint-cli2.yaml
.typos.toml
.yamllint.yaml
.lychee.toml
